
#blog h3, h5 {
    text-align: center;
}

#blog h3 {
    background: rgb(58, 103, 163);  
    color:#fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

#blog .contenedor3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#blog article {
    margin: 15px;
}

#blog img {
    width: 100%;
    max-width: 280px;
    position: center;
}
