{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bomba Esteban Santic</title>
    <link rel="stylesheet" href="{% static 'blog/css/fontello.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/formulario.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/banner.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/carrousel.css' %}">
    <link rel="shorcut icon" type="image/x-icon" href="{% static 'blog/imagenes/logo.ico' %}">
     <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  
      
<body>

 <header>
     <div class="contenedor">
         <h1 class="icon-fire-station">BOMBA ESTEBAN SANTIC</h1>
         <input type="checkbox" id="menu-bar">
         <label class="icon-menu" for="menu-bar"></label>
         <nav class="menu">
             <a href="./historia.html" target="_blank">Historia</a>
             <a href="">Equipo</a>
             <a href="">Especialidades</a>
             <a href="./galeria.html" target="_blank">Galeria</a>
             <a href="./formulario.html" target="_blank">Postulación</a>
             
         </nav>

     </div>
       
    </header>

    

    <main>

        <section id="banner">
            <img src="{% static 'blog/imagenes/Bomberos_equipo.jpg' %}">
            <div class="contenedor2">
                <h2>1° Compañía de bomberos de Quilpué</h2>
                <p>BOMBA ESTEBAN SANTIC</p> 
                <h4> <a href="#">DONAR AQUI</a> </h4> 
                               
            </div>
            
        </section>

        <section id= "bienvenidos">
            <h2>Bienvenidos a nuestro sitio</h2>
            <p>La Primera compañía de bomberos de Quilpué nace un 8 de marzo de 1925, un grupo de vecinos quilpueínos, se reunieron en los salones del club “La Unión”, con un solo objetivo el cual era fundar la Primera Compañía de Bomberos de Quilpué, entre sus filas  se contaba con prestigiosos hombres como Don Esteban Santic y Don Lorenzo Lubet entre otros, vecinos que se entregaron en cuerpo y alma, al desarrollo de esta compañía.</p>


        </section>

        <section id="blog">
            <h3> Noticias recientes </h3>
            <div class="contenedor3">

             <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                         {% block content %}
                            {% endblock %}
                     </div>
                </div>
            </div>
            
            </div>         

        
        
        </section>

       

        <section id="info">
            <h2>Unidades activas en rescate</h2>
            <div class="contenedor4">
                <div class="info-unidad">
                    <img src="{% static 'blog/imagenes/unidad11.jpg' %}" alt="unidad11">
                    <h4>UNIDAD 11</h4>
                </div>
                <div class="info-unidad">
                    <img src="{% static 'blog/imagenes/unidad12.jpg' %}" alt="unidad12">
                    <h4>UNIDAD 12</h4>
                </div>
                <div class="info-unidad">
                    <img src="{% static 'blog/imagenes/unidad13.jpg' %}" alt="unidad13">
                    <h4>UNIDAD 13</h4>
                </div>
                
            </div>       
    
        </section>


        

    </main>

    <footer>
        <div class="contenedor5">
            <p class="copy">Bomba Esteban Santic &copy; 2020</p>
            <div class="sociales">
                <a class="icon-facebook-official" href="#"></a>
                <a class="icon-twitter" href="#"></a>
                <a class="icon-instagram" href="#"></a>
                <a class="icon-mail" href="#"></a>
            </div>
        </div>
        
    </footer>
     
    
</body>
</html>