{% load static %}
<html>
    <head>
        <title>Compañía Esteban Santic</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
        
    </head>
    <body>
        <div class="page-header">
            <img class="logo" src="{% static 'blog/imagenes/logo3.png' %}">                
         <header>
     <div class="contenedor">
         <h1 class="icon-fire-station">BOMBA ESTEBAN SANTIC</h1>
         <input type="checkbox" id="menu-bar">
         <label class="icon-menu" for="menu-bar"></label>
         <nav class="menu">
             <a href="./historia.html" target="_blank">Historia</a>
             <a href="">Equipo</a>
             <a href="">Especialidades</a>
             <a href="./galeria.html" target="_blank">Galeria</a>
             <a href="./formulario.html" target="_blank">Postulación</a>
             
         </nav>

     </div>
       
    </header>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>


