{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bomba Esteban Santic</title>
    <link rel="stylesheet" href="{% static 'blog/css/fontello.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/formulario.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/banner.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/carrousel.css' %}">
    <link rel="shorcut icon" type="image/x-icon" href="{% static 'blog/imagenes/logo.ico' %}">
  
      
<body>

 <header>
     <div class="contenedor">
         <h1 class="icon-fire-station">BOMBA ESTEBAN SANTIC</h1>
         <input type="checkbox" id="menu-bar">
         <label class="icon-menu" for="menu-bar"></label>
         <nav class="menu">
             <a href="./historia.html" target="_blank">Historia</a>
             <a href="">Equipo</a>
             <a href="">Especialidades</a>
             <a href="./galeria.html" target="_blank">Galeria</a>
             <a href="./formulario.html" target="_blank">Postulación</a>
             
         </nav>

     </div>
       
    </header>

    

    <main>

        <section id="banner">
            <img src="{% static 'blog/imagenes/Bomberos_equipo.jpg' %}">
            <div class="contenedor2">
                <h2>1° Compañía de bomberos de Quilpué</h2>
                <p>BOMBA ESTEBAN SANTIC</p> 
                <h4> <a href="#">DONAR AQUI</a> </h4> 
                               
            </div>
            
        </section>

        <section id= "bienvenidos">
            <h2>Bienvenidos a nuestro sitio</h2>
            <p>La Primera compañía de bomberos de Quilpué nace un 8 de marzo de 1925, un grupo de vecinos quilpueínos, se reunieron en los salones del club “La Unión”, con un solo objetivo el cual era fundar la Primera Compañía de Bomberos de Quilpué, entre sus filas  se contaba con prestigiosos hombres como Don Esteban Santic y Don Lorenzo Lubet entre otros, vecinos que se entregaron en cuerpo y alma, al desarrollo de esta compañía.</p>


        </section>

        <section id="blog">
            <h3> Noticias recientes</h3>
            <div class="contenedor3">
                <article>
                    <img src="./imagenes/noticia_1.jpg">
                    <h5>Imágenes de accidente vehicular ocurrido en horas 
                        de la mañana en calle San Martín esquina Covadonga 
                        al que asistió Unidades CR-1 y 31, en el lugar c
                        olisión de alta energía entre colectivo y microbus, 
                        3 lesionados, 2 de ellos graves</h5>
                </article>
                <article>
                    <img src="./imagenes/noticia_2.jpg">
                    <h5>La tarde de este martes 7 de enero, 
                        llevamos a cabo la tradicional romería 
                        en homenaje a nuestro primer Mártir de Compañía, 
                        bombero Sr. Edwin Guajardo Sanhueza Q.E.P.D.</h5>
                </article>
                <article>
                    <img src="./imagenes/noticia_3.jpg">
                    <h5>Esta madrugada, siendo los 06:09 hrs, 
                        nuestra Guardia Nocturna atendió rescate 
                        vehicular en calle Cummings. 
                        Al lugar concurrieron Unidades CR-1 y 21.</h5>
                </article>
               

            </div>

        </section>


        <section id="info">
            <h2>Unidades activas en rescate</h2>
            <div class="contenedor4">
                <div class="info-unidad">
                    <img src="./imagenes/unidad11.jpg" alt="unidad11">
                    <h4>UNIDAD 11</h4>
                </div>
                <div class="info-unidad">
                    <img src="./imagenes/unidad12.jpg" alt="unidad12">
                    <h4>UNIDAD 12</h4>
                </div>
                <div class="info-unidad">
                    <img src="./imagenes/unidad13.jpg" alt="unidad13">
                    <h4>UNIDAD 13</h4>
                </div>
                
            </div>       
    
        </section>


        

    </main>

    <footer>
        <div class="contenedor5">
            <p class="copy">Bomba Esteban Santic &copy; 2020</p>
            <div class="sociales">
                <a class="icon-facebook-official" href="#"></a>
                <a class="icon-twitter" href="#"></a>
                <a class="icon-instagram" href="#"></a>
                <a class="icon-mail" href="#"></a>
            </div>
        </div>
        
    </footer>
     
    
</body>
</html>