{% extends 'blog/base.html' %}

{{% block contenido %}

{%load static %}

<h1>class="titulo_galeria">Galería</h1>     
                    <ul class="galeria">
                            <li class="galeria_item"><img src="./imagenes/Bomberos_equipo.jpg" alt="" class="galeria_img"></li>
                            <li class="galeria_item"><img src="./imagenes/noticia_1.jpg" alt="" class="galeria_img"></li>
                            <li class="galeria_item"><img src="./imagenes/bomberos_quilpue.png" alt="" class="galeria_img"></li>
                            <li class="galeria_item"><img src="./imagenes/unidad11.jpg" alt="" class="galeria_img"></li>
                            <li class="galeria_item"><img src="./imagenes/img_carrousel/bomberos_forestal.jpg" alt="" class="galeria_img"></li>
                            <li class="galeria_item"><img src="./imagenes/img_carrousel/bomberos_fuego.jpg" alt="" class="galeria_img"></li>
                            <li class="galeria_item"><img src="./imagenes/img_carrousel/bomberos_postulacion.jpg" alt="" class="galeria_img"></li>
                            <li class="galeria_item"><img src="./imagenes/img_carrousel/Bomberos_rescate.jpg" alt="" class="galeria_img"></li>
                            <li class="galeria_item"><img src="./imagenes/unidad13.jpg" alt="" class="galeria_img"></li>
                            <li class="galeria_item"><img src="./imagenes/noticia_3.jpg" alt="" class="galeria_img"></li>
                            <li class="galeria_item"><img src="./imagenes/noticia_2.jpg" alt="" class="galeria_img"></li>
                    </ul>
                    <h3 class="info_galeria">Diversas imagenes captadas por nuestros voluntarios en acción</h3>
                    <script src="./js/modal.js"></script>             
                
                    
    
            </div>

{% endblock contenido %}}
