{% extends "blog/base.html" %}

{% block content %} 

    <h1>Listado de vehiculos de la compañía</h1>

    <table>

        <tr> 
            <th>Patente</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>año</th>       
    
        </tr>
        
        {% for a in autos %}

            <td>{{a.patente}}</td>
            <td>{{a.marca}}</td>
            <td>{{a.modelo}}</td>
            <td>{{a.anio}}</td>
        

        {% endfor %}    
               


    </table>



{% endblock %}