{% extends "blog/base.html" %}

  
    {% load static %}
    {% block title %}Iniciar Sesión{% endblock %}
    
{% block content %}
    
    <form method="POST" class="login">
       <div class="login-container login-flex">
            {% csrf_token %}
            {{ form.as_p }}  
            
            <input type="submit" value="Ingresar">
            <a href="{% url 'signup' %}">¿No tienes una cuenta?</a>        
            <a href="{% url 'password_reset' %}">¿Has olvidado la contraseña?</a>
       </div>
          
    </form>    
    
{% endblock %}

