
{% extends "blog/base.html" %}

{% block content %}


    {% load static %}

    <form action="" id="formularioAutomovil" method="POST">
        
        <h3>
             Modificar automovil
        </h3>
        
        {% csrf_token %}

        <input type="hidden" name="txtId" id="txtId" value="{{ auto.id }}">

        <label for="">Patente</label>
        <input type="text" name="txtPatente" id="txtPatente" value="{{ auto.patente }}">
        <br>
        <label for="">Marca</label>

        <select name="cboMarca" id="cboMarca"> 

            <option velue="">Seleccionar </option>

            {% for m in marcas %}

                <option 
                {% if m.id == auto.marca.id %}
                {{'selected}} 
                {% endif %}
                
                
                
                value="{{ m.id }}">{{ m.nombre}}</option>

            {% endfor %}           

        </select>
        <br>

        <label for="">Modelo</label>
        <input type="text" name="txtModelo" id="txtModelo" value="{{ auto.modelo }}">
        <br>
        <label for="">Año</label>
        <input type="text" name="txtAnio" id="txtAnio" value="{{ auto.anio }}">
        
        </select>
        
        </select>
        <input type="submit" value="Modificar" id="boton">

    </form>

    <h3>{{ mensaje }}</h3>


{% endblock %}