
{% extends "blog/base.html" %}

{% block content %}


    {% load static %}

    <form action="" id="formularioAutomovil" method="POST">
        
        <h3>
             VEHICULOS DISPONIBLES
        </h3>
        
        {% csrf_token %}
        <input type="text" name="nombre" placeholder="Nombre unidad">
        <input type="text" id="patente" name='patente' placeholder="Ingresa patente del vehiculo" required>
        <select name="cboMarca" id="cboMarca"> 

            <option velue="">Seleccionar </option>

            {% for m in marcas %}

                <option value="{{ m.id }}">{{ m.nombre}}</option>

            {% endfor %}

            

        </select>
        <input type="number" name="año" min="1925" max="2021" placeholder="Ingresa año del vehiculo">
        
        </select>
        
        </select>
        <input type="submit" value="Guardar" id="boton">

    </form>

    <h3>{{ mensaje }}</h3>


{% endblock %}