
{% extends "blog/base.html" %}

{% block content %}


    {% load static %}

    <form action="">
        <h3>
             VEHICULOS DISPONIBLES
        </h3>
        <input type="text" name="nombre" placeholder="Nombre unidad">
        <input type="text" id="patente" name='patente' placeholder="Ingresa patente del vehiculo" required>
        <select name="cboMarca" id="cboMarca"> 

            <option velue="">Seleccionar </option>
             
        </select>
        <input type="number" name="año" min="1925" max="2021" placeholder="Ingresa año del vehiculo">
        
        </select>
        
        </select>
        <input type="submit" value="Consultar" id="boton">

    </form>


{% endblock %}